body{
    margin-left: 50px;
    line-height: 20px;
}
.heading{
    color: blue;
}
h1{
    font-size: 50px;
    font-family: sans-serif;
}
.hamn{
  width:;
  display: flex;
}
.na{
  padding-left: 400px;
}

    .btn {
        background: #1e32e6;
        background-image: -webkit-linear-gradient(top, #1e32e6, #1e32e6);
        background-image: -moz-linear-gradient(top, #1e32e6, #1e32e6);
        background-image: -ms-linear-gradient(top, #1e32e6, #1e32e6);
        background-image: -o-linear-gradient(top, #1e32e6, #1e32e6);
        background-image: linear-gradient(to bottom, #1e32e6, #1e32e6);
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Arial;
        color: #ffffff;
        font-size: 18px;
        padding: 10px 31px 10px 31px;
        text-decoration: none;
      }
      
      .btn:hover {
        background: #0f6ca6;
        text-decoration: none;
      }


    .btn2 {
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Arial;
        color: #0f13d9;
        font-size: 15px;
        background: #fcfcfc;
        padding: 10px 31px 10px 31px;
        border: solid #1f5e8c 2px;
        text-decoration: none;
        margin-left:40px;
      }
      
      .btn2:hover {
        background: #0f6ca6;
        text-decoration: none;
      }
      .button{
        padding-top: 30px;
        margin: ;
      }
      .highbtn {
        
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Arial;
        color: #0d0d0d;
        font-size: 12px;
        background: #fcfcfc;
        padding: 10px 31px 10px 31px;
        border: solid #ffffff 2px;
        text-decoration: none;
      }
      
      .highbtn:hover {
        background: #0f6ca6;
        text-decoration: none;
      }
      .high{
        display: flex;
        padding-bottom: 15px, 81px, 15px, 81px;
        align-items: center;
        
      }
      h3{
        color: #1e32e6;
      }
        .btn1 {
            margin-left: 50px;
            background: #1e32e6;
            background-image: -webkit-linear-gradient(top, #1e32e6, #1e32e6);
            background-image: -moz-linear-gradient(top, #1e32e6, #1e32e6);
            background-image: -ms-linear-gradient(top, #1e32e6, #1e32e6);
            background-image: -o-linear-gradient(top, #1e32e6, #1e32e6);
            background-image: linear-gradient(to bottom, #1e32e6, #1e32e6);
            -webkit-border-radius: 28;
            -moz-border-radius: 28;
            border-radius: 28px;
            font-family: Arial;
            color: #ffffff;
            font-size: 18px;
            padding: 10px 31px 10px 31px;
            text-decoration: none;
          }
          
          .btn1:hover {
            background: #0f6ca6;
            text-decoration: none;
          }
          .welc{
            padding-top: 100px;
            padding-bottom: 100px;
            
          }
          .download{
            width: 20px;
            width: 20px;

          }
    .heading2{
        color: #1e32e6;
        }
    .firstimg{
      width: 553px;
height: 560px;
radius: 300px 0px 0px 0px;
border: 1px 0px 0px 0px;
float:right;
position: absolute;
top: 0;
right: 0;
margin: 20px ;
padding-top: 60px;

    }
.logos{
      padding-bottom: 100px;
      padding-top: 100px;
    }
.tweyrsn{
  width: Hug (619.85px)px;
  height: Hug (671px)px;
  top: 100px;
  left: 739.03px;
  gap: 45px;
  opacity: 0px;
 float: right;
 padding-bottom: 10px;

  
}
.on-product{
  font-size: 40px;
  font-weight: 40px;
}
.hello{
  font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 25px;
text-align: left;
padding-bottom: 10px;

}
.span{
font-family: Work Sans;
font-size: 18px;
font-weight: 700;
line-height: 25px;
text-align: left;
}
.tweyrssn{
  width: 619.85px;
height: 258px;
gap: 0px;
opacity: 0px;
padding-bottom: 200px;


}
.tweyrsin{
  width: Hug (612px)px;
height: Hug (50px)px;
top: 358px;
gap: 25px;
opacity: 0px;
margin-left: 0;
padding-bottom: 40px;


}
.explmy{
  position: absolute;
  top:1700px;
  text-align: center;
  margin-left: 20px;
  padding-left: 350px;
  padding-bottom: 100px;
}
.secondimg{
  display: flex;
  float:left;
  position: absolute;
  top: 5000;
  right: 100;
  padding-top: 800px;
  width: 627.91px;
height: 623px;
top: 124px;
left: 81.12px;
gap: 0px;
border-radius: 300px 0px 0px 0px;
opacity: 0px;

}
.skill-container{
  width: 50%;
  margin: auto;
  background-color: ;
  padding: 20px;
  border-radius: 10px;
  margin-left: 0;
  
}
.skill{
  margin  :10px 0;
}
.skill-label{
  font-weight: bold;
  margin-bottom: 5px;
}

.progress-bar{
  width: 100%;
  background-color:#e0e0e0 ;
  border-radius 5px ;
  overflow: hidden;
  border-radius: 50px;
}
.progress-bar div{
  
}
.uiux{
     background-color: #0077FF ;width: 80%;
}
.webdev{
  background-color: #0077FF ;width: 70%;
}
.Interaction{
  background-color: #0077FF ;width: 60%;
}
.arrow-div{
  width: Fixed (1,278px)px;
height: Hug (50px)px;
gap: 20px;
opacity: 0px;

}
.arrow1{
  width: Fixed (50px)px;
height: Fixed (50px)px;
gap: 0px;
border-radius: 50px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
angle: 180 deg;


padding-top: 1050px;
padding-left: 20px;

float:right;

}
.arrow-div{
  width: Fixed (1,278px)px;
height: Hug (50px)px;
gap: 20px;
opacity: 0px;

}
.horcolumns{
 
  display: flex;
  width: 1299px;
  height: 367px;
gap: 20px;
border-radius: 10px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
padding-left: 160px;

}
.firstsel{
  background-color: #0077FF;
  width: fixed (800px)px;
height: Hug (100px)px;
top: 398px;
left: 81px;
padding: 10px 0px 0px 0px;
gap: 10px;
border-radius: 10px 0px 0px 10px;
opacity: 0px;
padding: 10px 130px 10px 10px;
padding-bottom:0px ;

}
.secondsel{
  background: white;
  width: Fixed (406px)px;
  height: Hug (366px)px;
top: 399px;
left: 517px;

gap: 10px;
border-radius: 10px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
padding: 10px 140px 10px 10px;
}
.secondsel2{
  background: white;
  width: 100px;
  height: Hug (366px)px;
top: 399px;
left: 517px;
padding: 30px 0px 0px 0px;
gap: 10px;
border-radius: 10px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
padding: 10px 0px 10px 10px;
margin-right: 0px;
padding-right: 0px;
white-space: nowrap;
overflow: hidden;
}
.firstsel:hover{
  color: rgb(178, 214, 107);
  
}
.secondsel:hover{
  color: rgb(178, 214, 107);
}
.secondsel2:hover{
  color: rgb(178, 214, 107);
}
.Arrow1.png:hover{
  color: rgb(178, 214, 107);
}
.Arrow-1.png:hover{
  color:h2rgb(178, 214, 107) ;
}
.mildiv{
  background-color: #0077FF;
  padding-bottom: 100px;
  margin-top: 100px;
  padding-left: 0;
  margin-left: -50px;
  overflow: hidden;
}


.M{
  text-align: center;
  color: white;
  margin-top: -1100px;
  
}
.W{
  text-align: center;
   color: white;
}
.container{
  display: flex;
  background-color: #0077FF;
  margin-top: 40px;
  overflow: hidden;
  
}
.container1{
  
  background-color: white;
  gap: 10px;
  margin:  20px 20px 20px 20px;
  border-radius: 10px 10px 10px 10px;
  padding:20px 20px 40px 70px;
  height: 90px;
  width: 250px;
}
.container1:hover{
  color: yellowgreen;
}
  .rectaa{
padding-left: 700px;
margin-bottom: 0px;
display: flex;


}
.prodiv{
  margin-top: 80px;
  background: white;
}
.procl1{
  text-align: center;
  color:#0077FF ;
}
.procl{
  text-align: center;
  background-color: white;
}
.tabs{
  display: flex;
  padding-left: 200px;
  padding-right: 20px;
  margin-right: 40px;
  gap:40px;
  
}
.all{
  background-color: #0077FF;
  border-radius: 50px 50px 50px 50px;
  color: white;
  height: 50px;
  width: 180px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: -20px;
  padding-bottom: 10px;
  padding-top: -10px;
}
.remain{
  color: #0077FF ;
  border: 2px solid #0077FF;
  border-radius: 50px 50px 50px 50px;
  height: 50px;
  width: 180px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
}
.pic1{
  padding-top: 50px;
  width: Fixed (1,278px)px;
height: Hug (764px)px;
gap: 30px;
opacity: 0px;
padding-left: 100px;

}
.picbbar{
  display: inline;
  padding-right: 30px;

}
.pic2{
  gap: 0px;
  width: Hug (406px)px;
height: Hug (367px)px;
gap: 0px;
border-radius: 15px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
padding-left: ;


}
.pic3{
  padding-top: 20px;
  padding-right: 0px;
  width: Hug (406px)px;
height: Hug (367px)px;
gap: 0px;
border-radius: 15px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

}

.buttundiv{
  width: Fixed (1,278px)px;
  height: Hug (50px)px;
  gap: 20px;
  opacity: 0px;
  display: flex;
  
}
.buttun1div{
  width: Fixed (50px)px;
  height: Fixed (50px)px;
  gap: 0px;
  border-radius: 50px 0px 0px 0px;
  opacity: 0px;
  margin-left: 700px;
  
  
}
.buttun2div{
  width: Fixed (50px)px;
  height: Fixed (50px)px;
  gap: 0px;
  border-radius: 50px 0px 0px 0px;
  opacity: 0px;
  margin-left: 00px;
}
.test1{
  text-align: center;
  color: #0077FF;
}
.test2{
  text-align: center;
  color: black;
}
.actors{
  display: flex;
  padding-top: 30px;
  gap: 30px;
  padding-bottom: 20px;
}
.alia{
  padding-top: 10px;
}
.actors2{
  background-color: #0077FF;
  border-radius: 10px 10px 10px 10px;
  padding-right: 0px;
  width: 300px;
  padding: 10px 10px 10px 10px;
}
.actors1{
  width: 300px;
height: Hug (465.9px)px;
padding: 30px 20px 30px 20px;
gap: 20px;
border-radius: 15px 15px 15px 15px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #DDDDDD;
margin-right: 0px;

  
}
.lastdiv{
  background-color: #0077FF;


  padding-top: 10px;
  padding-bottom: 90px;
  padding-left: 0;
  margin-left: -50px;

}
.las{
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.llas{
  padding-bottom: 40px;
}
.lastcol{
  color: black;
  background-color: white;
  width: 400px;
height: Fixed (272px)px;
padding: 10px 10px 10px 10px;
gap: 40px;
border-radius: 15px 10px 10px 10px;
opacity: 0px;
margin-left: 40px;
margin-top: 10px;

}
.how{
  height: 100px;
  width: 264px;
  background-color: white;
  padding-top: 0px;
}
.framee{
  margin-left: 500px;
  padding-top: 20px;
}
.lastform{
  display: flex;
}
.form{
  padding-top: 10px;
  padding-left: 50px;
  z-index: 1;
}
.dddiv{
  display: flex;
}
.aero{
  background-color: #0077FF;
  padding-left:10px
  padding-left: 0;
  margin-left: -50px;
  
}
.aero1{
  padding-left: 40px;
}
.insta{
  padding-left: 170px;
}
.elli{
  padding-top: px;
}
::selection{
  background-color: green;
  color: white;
}

/*media queries for smaller screen*/
@media   (max-width:1231px){
  .high{
    display: flex;
    justify-content: flex-start;

   }
   .hamn{
    display: flex;
    justify-content: flex-start;
   }
   .ddf{
    display: flex;
    size: 1rem;
   }
   .na{
     display: flex;
     justify-content: flex-end;
     gap: 0.5rem;
   }
   .welc{
      
   }
   h3{
    display: flex;
    justify-content: center;
    padding-top: 35rem;
   }
   h1{
    display: flex;
    justify-content: center;

   }
   .heading{
    display: flex;
        justify-content: center;

   }
   p{
    display: flex;
        justify-content: center;

   }
   .button{
    display: flex;
    justify-content: center;
    min-height: 10rem;
    
    gap: 1rem;
    flex-direction: column;
    align-items: center;
   }

   .mus{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3rem;

   }
   .btn{
    padding-left: 11rem;
    padding-right: 11rem;
   }
   .hasee{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
   }
   .firstimg{
    display: flex;
    justify-content: flex-end;
   }
   .logos{

   }
   .jquery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
   }
   .secondimg{
    padding-top: 130rem;
    padding-right: 12rem;

   }
   .tweyrsn{
    display: flex;
    margin-top: 50rem;
    height: max-content;
    
    flex-direction: column;
    align-items: center;
    
   }
   .tweyrssn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
   }
   
   .heading2{
    display: flex;
    justify-content: center;
    
  
   }

   
   .ara{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
   }
   
    
    

   }
   .tweyrsin{
  display: flex;
flex-direction: column;
align-items: center;
padding-top: 15rem;

   }
.btn1{
  display: flex;
  padding-left: 10rem;
  padding-right: 10rem;
}
.btn2{
  display: flex;
  padding-left: 10rem;
  padding-right: 10rem;
}
   .skill-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10rem;
    justify-content: center;
    justify-content: center;
    
   }
   .skill-label{
    display: flex;
    justify-content: flex-start;
   }
   .progress-bar{
   display: flex;
   width:   22rem;

   }
   .uiux{
    display: flex;
    justify-content: center;
  align-items: flex-start;

   }
   .explmy{
    display: flex;
    flex-direction: column;
  justify-content: flex-start;
    align-content:center;
    align-items: center;
    border: 8px solid #0d0d0d;

    margin-top: 150rem;

    padding-left:-10rem ;
   
    
   }
   .ser{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-right: ;
   }
   .oder{
    margin: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
   }
.on-product{
 
   
    display: flex;
    justify-content: center;
    
    align-items: center;
   
  
}
.arrow-div{
height: 8rem;
padding-right: 9rem;
margin-left: ;
  margin-top: 160rem;

}
.arrow1{
  margin: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-right: 1rem;
     padding-left: 1rem;
     column-gap: 20rem;
}
.horcolumns{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  max-width: 30rem;
  max-height: 200rem;
}
 .secondsel{


 }  
.secondsel2{
  
  
}
.mildiv{
  display: flex;
flex-direction: column;
justify-content: center;

  border:8px solid #0d0d0d;
max-height: 800rem;
margin-top: 54rem;
}
.M{
margin-top: ;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
  .prodiv{
    border: 8px solid #0d0d0d;
    
  }

